import XMonad
import qualified Data.Map as M
import XMonad.Hooks.DynamicLog
import XMonad.Hooks.ManageDocks
import XMonad.Hooks.EwmhDesktops
import XMonad.Util.Run(spawnPipe)
import Graphics.X11.ExtraTypes.XF86
import XMonad.Util.EZConfig(additionalKeys)
import System.IO

myTerminal = "Terminal"

myKeys = [ ((mod4Mask, xK_b                ), sendMessage ToggleStruts)
         , ((0, xF86XK_AudioLowerVolume   ), spawn "amixer set Master 2-")
         , ((0, xF86XK_AudioRaiseVolume   ), spawn "amixer set Master 2+")
         , ((0, xF86XK_AudioMute          ), spawn "amixer -D pulse set Master toggle")
         --, ((0, xF86XK_MonBrightnessDown    ), spawn "UHHH")
         --, ((0, xF86XK_MonBrightnessUp    ), spawn "UHHH")
         ]

main = do 
    xmproc <- spawnPipe "/home/mmargenot/.cabal/bin/xmobar"

    xmonad $ defaultConfig
        { manageHook = manageDocks <+> manageHook defaultConfig
        , logHook    = dynamicLogWithPP xmobarPP
                           { ppOutput = hPutStrLn xmproc
                           , ppTitle = xmobarColor "darkgreen" "" . shorten 20
                           }
        , layoutHook = avoidStruts $ layoutHook defaultConfig
        , handleEventHook = handleEventHook defaultConfig <+> docksEventHook <+> ewmhDesktopsEventHook
        , startupHook = ewmhDesktopsStartup
        , modMask    = mod4Mask
        } `additionalKeys` myKeys
